*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #f5f5f5;
}
.current{
	top: 0px;
	width: 750px;
	height: 3100px;
	margin: 0 auto;
}
.one{
	width: 750px;
	height: 116px;
	border-bottom: 2px solid #434343;
	background-color: #fff;
}
.one img{
	float: left;
	margin-top: 26px;
	margin-left: 42px;
}
.dingzhi{
	width: 165px;
	height: 55px;
	border-radius: 7px;
	background-color: #e8420a;
	float: left;
	margin-left: 233px;
	margin-top: 36px;
}
.dingzhi p{
	font-size: 28px;
	text-align: center;
	color: #fefefe;
	padding-top: 6px;
}
.line{
	height: 46px;
	width: 12px;
	float: left;
	margin-left: 41px;
	margin-top: 42px;
}
.line1{
	width: 46px;
	height: 4px;
	margin-bottom: 17px;
	background-color: #000;
}
.two{
	width: 750px;
	height: 70px;
}
.two p{
	font-size: 26px;
	color: #1c5080;
	margin-top: 21px;
	margin-left: 41px;
}
.three{
	width: 750px;
	height: 333px;
	background-color: #fff;
	margin-bottom: 20px;
}
.three01{
	width: 500px;
	height: 32px;
	float: left;
	color: #000;
	font-size: 32px;
	margin-top: 45px;
	margin-left: 38px;
}
.three02{
	width: 500px;
	height: 46px;
	float: left;
	color: #000;
	font-size: 22px;
	margin-top: 36px;
	margin-left: 43px;
}
.three03{
	width: 500px;
	height: 46px;
	float: left;
	color: #000;
	font-size: 22px;
	margin-top: 22px;
	margin-left: 84px;
}
.three04{
	width: 440px;
	height: 18px;
	float: left;
	color: #e8420a;
	font-size: 18px;
	margin-top: 22px;
	margin-left: 41px;
}
.four{
	width: 750px;
	height: 422px;
	background-color: #fff;
	margin-bottom: 20px;
}
.four01{
	width: 100px;
	height: 28px;
	float: left; 
	color: #010101;
	font-size: 28px;
	margin-top: 40px;
	margin-left: 40px;
}
.four02{
	width: 670px;
	height: 22px;
	float: left;
	color: #666;
	font-size: 22px;
	margin-top: 26px;
	margin-left: 40px;
}
.four03{
	width: 530px;
	height: 30px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 52px;
	margin-left: 97px;
}
.four04{
	width: 600px;
	height: 30px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 56px;
	margin-left: 97px;
}
.four05{
	width: 200px;
	height: 18px;
	float: left;
	color: #e8420a;
	font-size: 18px;
	margin-top: 20px;
	margin-left: 248px;
}
.five{
	width: 750px;
	height: 800px;
	background-color: #fff;
	margin-bottom: 20px;
}
.five01{
	width: 500px;
	height: 28px;
	float: left;
	color: #010101;
	font-size: 28px;
	margin-top: 40px;
	margin-left: 42px;
}
.five02 p{
	width: 680px;
	height: 22px;
	float: left;
	color: #666;
	font-size: 22px;
	margin-top: 25px;
	margin-left: 42px;
}
.five03{
	width: 500px;
	height: 57px;
	float: left;
	color: #1c5080;
	font-size: 26px;
	margin-top: 42px;
	margin-left: 42px;
}
.five04{
	width: 500px;
	height: 22px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 37px;
	margin-left: 97px;
}
.five05{
	width: 500px;
	height: 22px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 55px;
	margin-left: 97px;
}
.five00{
	width: 200px;
	height: 18px;
	float: left;
	color: #e8420a;
	font-size: 18px;
	margin-top: 24px;
	margin-left: 248px;
}
.five00 img{
	margin-top: 4px;
}
.aaa{
	width: 668px;
	height: 2px;
	background-color: #f5f5f5;
	float: left;
	margin-top: 59px;
	margin-left: 41px;
}
.five06{
	width: 500px;
	height: 57px;
	float: left;
	color: #1c5080;
	font-size: 26px;
	margin-top: 42px;
	margin-left: 42px;
}
.five07{
	width: 500px;
	height: 22px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 37px;
	margin-left: 122px;
}
.five08{
	width: 500px;
	height: 22px;
	float: left;
	color: #010101;
	font-size: 22px;
	margin-top: 55px;
	margin-left: 142px;
}
.six{
	width: 750px; 
	height: 449px;
	background-color: #fff;
}
.six01{
	width: 500px;
	height: 28px;
	float: left;
	color: #010101;
	font-size: 28px;
	margin-left: 41px;
	margin-top: 32px;
}
.six02{
	width: 500px;
	height: 22px;
	float: left;
	color: #666;
	font-size: 22px;
	margin-left: 41px;
	margin-top: 26px;
}
.seven{
	width: 750px;
	height: 400px;
}
.seven01{
	width: 500px;
	height: 8px;
	font-size: 28px;
	color: #010101;
	margin-left: 40px;
	margin-top: 52px;
}
.seven02{
	width: 680px;
	height: 104px;
	margin-left: 70px;
	margin-top: 53px;
}
.seven02 p{
	color: #010101;
	font-size: 24px;
	margin-bottom: 14px;
}
.bbb{
	width: 668px;
	height: 1px;
	background-color: #cacaca; 
	margin-top: 41px;
	margin-left: 41px;
}
.seven03{
	width: 500px;
	height: 24.09px;
	font-size: 24.09px;
	margin-left: 490px;
	margin-top: 29px;
}
.seven04{
	width: 500px;
	height: 40.15px;
	font-size: 24.09px;
	margin-top: 36px;
	margin-left: 395px;
}
.eight{
	width: 750px;
	height: 406px;
	background-color: #fff;
}
.eight01{
	width: 220px;
	height: 51px;
	background-color: #f5f5f5;
	margin-left: 40px;
	margin-top: 100px;
	border-radius: 3px;
	float: left;
	padding-left: 98px;
	padding-top: 23px;
}
.eight01 a{
	color: #666;
	font-size: 24px;
} 
.eight02{
	width: 227px;
	height: 57px;
	background-color: #e8420a;
	margin-left: 35px;
	margin-top: 100px;
	border-radius: 3px;
	float: left;
	padding-top: 17px;
	padding-left: 91px;
}
.eight02 a{
	color: #fff;
	font-size: 33.65px;
}
.eight03{
	color: #010101;
	font-size: 20px;
	text-align: center;
	margin-top: 42px;
	float: left;
	margin-left: 180px;
}
.eight03 a{
	color: #1c5080;
	font-size: 20px;
}
.banner{
	width: 750px;
	height: 484px; 
	background-color: #343235;
	margin: 0 auto;
}
.k{
	width: 750px;
	background-color: #343235;
	height: 65px; 
}
.tel{
	width: 663px;
	height: 75px;
	border: 3px solid #c2c2c3;
	margin: 0 auto;
	padding-top: 25px; 
}
.tel p{
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}
.last{
	width: 750px;
}
.last0 p{
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	margin-top: 42px;
	margin-bottom: 60px;
}
.last1 p{
	text-align: center;
	font-size: 22px;
	color: #ffffff;
	margin-bottom: 18px;
}