*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
body{
	background-color: #f5f5f5;
}
/*页头*/
.current{
	position:fixed;
	top:0px;
	width: 100%;
	height: 124px;
	z-index: 999;
}
/*顶部*/
.header{
	width: 100%;
	height: 45px;
	background-color: #333333;
	min-width: 1200px;/*小于1200会出现滚动条*/
}
.right{
	width: 139px;
	height: 45px;
	float: right;
}
.right li{
	padding-right:14px;
	float: left;
	line-height: 45px;
	background: url(../img/both/line.png) no-repeat right center;
}
.right li a{
	font-size:14.23px;
	color: #ffffff;
}
.right li:last-child{
	padding-left: 17px;
	background: none;
}

.left{
	width: 235px;
	height: 34px;
	float: right;
	padding-top: 11px;
}
.header1{
	margin-right: 9px;
	float: left;
}
.font1{
	font-size: 20px;
	color: #ffffff;
	float: left;
}
/*二级列表*/
.list{
	width: 100%;
	height: 79px;
	background-color: #ffffff;
	min-width:1200px;/*小于1200会出现滚动条*/
}
.list1{
	height: 79px;
	float: left;
}
.list img{
	padding-left: 40px;
	padding-top:14px;
}






.beside{
	width: 163px;
	height: 395px;
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 996;
}
.besidea{
	width: 103px;
	height: 120px;
	float: left;
	padding: 5px 5px;
	margin-top: 100px;
	background: #302e31;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.besideb{
	width: 50px;
	height: 391px;
	float: left;
	background: #fff;
}
.beba{
	width: 47px;
	height: 47px;
	margin-top: 1px;

}	
/*底栏*/
.banner{
	width: 100%;
	height: 800px;
	background-color: #000000;
}
.bannerline{
	width: 100%;
	border-bottom: 1px solid #404040;
}



/*底栏3*/
.banner03{
	width: 540px;
	height: 115px;
	padding-top: 40px;
	margin: 0 auto;
}
.banner03 p{
	text-align: center;
	font-size: 16.13px;
	color: #ffffff;
	padding-bottom: 18px;
}