*{
	padding: 0;
	margin: 0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000000;
}
/*页头*/
.current{
	position:fixed;
	top:0px;
	width: 100%;
	height: 124px;
	z-index: 999;
	float: left;
}
/*顶部*/
.header{
	width: 100%;
	height: 45px;
	background-color: #333333;
	min-width: 1200px;/*小于1200会出现滚动条*/
}
.right{
	width: 139px;
	height: 45px;
	float: right;
}
.right li{
	padding-right:14px;
	float: left;
	line-height: 45px;
	background: url(../img/both/line.png) no-repeat right center;
}
.right li a{
	font-size:14.23px;
	color: #ffffff;
}
.right li:last-child{
	padding-left: 17px;
	background: none;
}

.left{
	width: 235px;
	height: 34px;
	float: right;
	padding-top: 11px;
}
.header1{
	margin-right: 9px;
	float: left;
}
.font1{
	font-size: 20px;
	color: #ffffff;
	float: left;
}
/*二级列表*/
.list{
	width: 100%;
	height: 79px;
	background-color: #ffffff;
	min-width:1200px;/*小于1200会出现滚动条*/
}
.list1{
	height: 79px;
	float: left;
}
.list img{
	padding-left: 40px;
	padding-top:14px;
}
.list2{
	width: 850px;
	height: 79px;
	float: right;
	cursor: pointer;/*鼠标样式*/
	margin-right: 52px;
	
}
.list2 li{
	float: left;
	height: 74px;
	line-height: 79px;
	background-color: #ffffff;
}
.list2 li:last-child{
	float: left;
	height: 79px;
	line-height: 79px;
	background-color: #ffffff;
}
.list2 li a{
	display: block;
	height: 74px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
	color: #000000;
}
.list2 ul li{
	position: relative;/*相对定位*/
}
.list2 ul li ul{
	display: none; /*隐藏消失*/
	margin-top: 7px;
	position: absolute;/*绝对定位*/
}
.list2>ul>li ul li{
	position: relative;/*相对定位*/
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 110px;
}
#list22{
	position: relative;/*相对定位*/
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 90px;
}
.list2>ul>li ul li:last-child{
	position: relative;/*相对定位*/
	height: 40px;
	line-height: 40px;
}
.list2>ul>li ul li a{
	display: block;
	height: 40px;
	font-size: 16px;
	/*margin: 0 auto;*/
}
.list2 li:hover{
	border-bottom: 4px solid #e8420a;
}
.list2 li:hover ul{
	display: block;
}
.list2 li:hover ul li{
	 display: block;
	 border: none;
	 color: #e8420a;
}
.list2 li a:hover{
	color: #e8420a;
}
.picture{
	width: 100%;
	height: 398px;
	margin-top: 124px;
}
/*底栏*/
.banner{
	width: 100%;
	height: 800px;
	background-color: #000000;
}
.bannerline{
	width: 100%;
	border-bottom: 1px solid #404040;
}
/*底栏1*/
.banner01{
	width: 1200px;
	height: 275px;
	margin: 0 auto;
	background-color: #000000;
}
.banner01left{
	width: 786px;
	padding-top: 74px;
	float: left;
}
.banner01left ul{
	float: left;
	width: 120px;
}
.banner01left ul li{
	font-size: 14px;
	color: #ffffff;
	padding-bottom: 16px;
}
#font2{
	font-size: 18px;
	color: #ffffff;
	padding-bottom: 22px;
}
.xiaotubiao{
	margin-left: 16px;
	margin-bottom: 50px;
	width: 277px;
	height: 65px;
}
.xinlang{
	float: left;
	width: 60px;
	margin-right: 40px;
}
.xinlang img{
	float: left;
}
.xinlang a{
	margin-top: 10px;
	float: left;
	color: #fff;
	font-size: 14px;
}
.weixin1{
	float: left;
	width: 60px;
}
.weixin1 a{
	margin-top: 15px;
	float: left;
	color: #fff;
	font-size: 14px;
}

.banner01right{
	width: 414px;
	padding-top: 70px;
	float: left;
}
.phone{
	height: 90px;
}
.phone img{
	float: left;
}
.font3{
	width: 157px;
	text-align: center;
	float: left;
}
.font3 div{
	color: #ffffff;
	font-size: 26.08px;
}
#font3a{
	font-size: 15px;
}
.font4{
	width: 200px;
	text-align: center;
	float: left;
}
.font4 a{
	color: #ffffff;
	font-size: 26.06px;
	float: left;
}
.contact{
	padding-left: 85px;
	width: 329px;
}
.contact a{
	float: left;
	color: #ffffff;
	padding-bottom: 15px;
}
/*底栏2*/
.banner02{
	width: 1200px;
	height: 280px;
	padding-bottom: 45px;
	padding-top: 45px;
	margin: 0 auto;
}
.banner021{
	width: 1200px;
	height: 70px;
	margin-bottom: 40px;
}
#banner021div{
	font-size: 18px;
	float: left;
	margin-right: 25px;
	height: 70px;
	color: #ffffff;
}
.banner021 div{
	font-size: 18px;
	float: left;
	margin-right: 15px;
	height: 70px;
	color: #ffffff;
	width: 110px;
}
.banner021 div p{
	width: 110px;
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
}
#banner021diva{
	width: 73px;
}
.banner022{
	width: 1200px;
	height: 65px;
	margin-bottom:10px;
}
.banner022 div{
	font-size: 18px;
	float: left;
	margin-right: 25px;
	color: #ffffff;
	height: 65px;
}
.banner022 li{
	margin-bottom:15px;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	color: #ffffff;
}
.banner024{
	width: 1200px;
	height: 30px;
	margin-bottom:15px;
}
.banner024 div{
	font-size: 18px;
	float: left;
	margin-right: 25px;
	color: #ffffff;
	height: 30px;
}
.banner024 li{
	margin-bottom:15px;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	color: #ffffff;
}
.banner023{
	width: 1200px;
	height: 65px;
	margin-bottom:10px;
}
.banner023 div{
	font-size: 18px;
	float: left;
	margin-right: 25px;
	color: #ffffff;
	height: 65px;
}
.banner023 li{
	/*margin-bottom:15px;*/
	margin-bottom: 15px;
	font-size: 14px;
	float: left;
	margin-right: 15px;
	color: #ffffff;
}
/*底栏3*/
.banner03{
	width: 540px;
	height: 115px;
	padding-top: 40px;
	margin: 0 auto;
}
.banner03 p{
	text-align: center;
	font-size: 16.13px;
	color: #ffffff;
	padding-bottom: 18px;
}

.beside{
	width: 163px;
	height: 395px;
	position: fixed;
	right: 0;
	top: 200px;
	z-index: 996;
}
.besidea{
	width: 103px;
	height: 120px;
	float: left;
	padding: 5px 5px;
	margin-top: 100px;
	background: #302e31;
	text-align: center;
	font-size: 12px;
	color: #fff;
}
.besideb{
	width: 50px;
	height: 391px;
	float: left;
	background: #fff;
}
.beba{
	width: 47px;
	height: 47px;
	margin-top: 1px;

}
.a{
	height: 2830PX;
	width: 100%;
	background-color: #f5f5f5;
	float: center;
	margin-top: 125px;
}
.a1{
	margin-left:115px;
	margin-top: 45px;
	float: left;
	font-size: 18px;
}
.a2{
	width: 1250px;
	height: 580px;
	background-color: #ffffff;
	margin-top: 45px;
	margin-left: 115px;
	float: left;
}
.a3{
	height: 550px;
	width:680px;
	margin: 17px;
	float: left;
}
.a4{
	font-size: 30px;
	margin-top: 50px;
}
.a5{
	color: #666666;
	font-size: 20px;
	margin-top: 31px;
	line-height: 40px;
}
.a6{
	color: #666666;
	font-size: 20px;
	line-height: 40px;
}
.b{
	margin-top: 50px;
	width: 1250px;
	height: 64px;
	margin-left: 115px;
	float: left;
	border-top:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	border-bottom:1px solid #1c5080;
}
.b1{
	background-color: #1c5080;
	height: 64px;
	width: 250px;
	float: left;
	text-align:center;
}
.b2{
	font-size: 24px;
	color: #f5f5f5;
	margin-top: 15px;
}
.c{
	width: 1250px;
	height: 439px;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	float: left;
	margin-left: 115px;
}
.c1{
	margin-top:38px; 
	margin-left:61px;
	font-size: 30px;
}
.c2{
	color: #666666;
	font-size:20px;
	margin-left: 61px;
	margin-right: 30px;
	margin-top: 30px;
	line-height: 40px;
}
.d{
	width: 1250px;
	height: 270px;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	float: left;
	margin-left: 115px;
}
.d1{
	margin-top: 40px;
	margin-left: 61px;
	color: #000000;
	font-size: 20px;
}
.d2{
	margin-top: 18px;
	margin-left: 61px;
	color: #000000;
	font-size: 20px;
}
.e{
	width: 1250px;
	height: 188px;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	float: left;
	margin-left: 115px;
}
.f{
	width: 1250px;
	height: 450px;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	float: left;
	margin-left: 115px;
}
.f1{
	margin-top: 40px;
	margin-left: 61px;
	font-size: 21px;
}
.f2{
	margin-top: 20px;
	margin-left: 61px;
	font-size: 19px;
	color: #666666;
}
.g{
	height: 507px;
	width:1250px;
	border-bottom:1px solid #b5b5b5;
	border-left:1px solid #b5b5b5;
	border-right:1px solid #b5b5b5;
	float: left;
	margin-left: 115px;
}
.g1{
	margin-left: 61px;
	margin-right: 20px;
	font-size: 20px;
	line-height: 40px;
	color: #666666;
}
.g2{
	margin-left: 61px;
	margin-right: 20px;
	font-size: 20px;
	line-height: 40px;
	color: #666666;
	margin-top: 40px;
}